// Specific CSS for your home-page
h1 {
  font-size: 32px;
  font-family: 'Encode Sans Condensed', sans-serif;
  text-transform: uppercase;
  font-weight: 100;
  color: white;
}

.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  font-family: 'Encode Sans Condensed', sans-serif;
  height: 500px;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.8);
  font-size: 40px;
  font-family: 'Encode Sans Condensed', sans-serif;
  text-transform: uppercase;
  font-weight: 100;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.6);
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #5C01A7;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #4D04C4;
  color: white;
}

.display-cards {
  background-color: #201E1F;
  text-align: center;
  padding: 40px;

  #offers-header {
    font-size: 24px;
    font-family: 'Encode Sans Condensed', sans-serif;
    text-transform: uppercase;
    font-weight: 100;
    color: white;
  }
}
