.container {
  background-color: #201E1F;
}

.nav-bar {
  justify-content: space-between;
  background-color: #5C01A7;
  color: white;
}

.cards {
  background-color: white;
  color: #201E1F;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  width: 500px;
  height: 300px;
  border-radius: 8px;
  display: inline-block;
  margin-right: 250px;
  display: flex;
  margin: 30px;
  .cards-description {
    display: inline-block;
    width: 300px;
    margin-left: 100px;
  }
}

#all-offers-heading {
  color:  #5C01A7;
  font-size: 160px;
  font-style: $body-font;
  font-family: 'Encode Sans Condensed', sans-serif;
}

// // Smallest device
// @media (min-width: 100px) and (max-width: 575px) {
//   .cards {
//     grid-template-columns: 1fr 1fr;
//   }
// }

// // Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) {
//   .cards {
//     grid-template-columns: 1fr 1fr;
//   }
// }

// // Medium devices (tablets, 768px and up)
// @media (min-width: 768px) {
//   .cards {
//     grid-template-columns: 1fr 1fr 1fr;
//   }
// }

// // Large devices (desktops, 992px and up)
// @media (min-width: 992px) {
//   .cards {
//     grid-template-columns: 1fr 1fr 1fr 1fr;
//   }
// }

// // Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) {
//   .cards {
//     grid-template-columns: 1fr 1fr 1fr 1fr;
//   }
// }
