<% if alert %>
  <div class="flash flash-success alert alert-dismissible fade show" role="alert">
    <span><strong> <%= alert %> </strong></span>
    <a data-bs-dismiss="alert" aria-label="Close">
      <i class="fas fa-times"></i>
    </a>
  </div>
<% end %>
