<div style="width: 100%; height: 600px;"
  class="position-sticky top-0"
  data-controller="map"
  data-map-markers-value="<%= markers %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  <%# data-<controller>-<value-name>-value %>
</div>
