<!-- navbar -->

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(../../images/banner.jpg);">
  <div class="container">
    <h1>Tokyo Vinyls</h1>
    <p>Share your favorite records with the world</p>
    <a class="btn btn-flat" href="#">Browse</a>
  </div>
</div>
