.mapboxgl-popup-content {
  padding: 6px;
  background-color: rgb(35, 35, 172);
  color: white;
  padding: 0em;
  border-radius: 4px;
  font-family: $body-font;
  width: 260px;
  ul {
    padding-left: 0;
  }

  .popup-text {
    // margin-left: auto;
    // margin-right: auto;
    margin: auto;
    // align-items: center;
    text-align: center;
  }
}

.mapboxgl-popup-close-button{
  opacity: 0;

  &:hover {
    & + .mapboxgl-popup-content .close-button {
    color: red;
  }
}
}

.close-button {
  color: inherit;
  position: absolute;
  right: 4px;
  top: 4px;

  &:hover {
    color: red
  }
}

.pulse {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -5px 0 0 -5px;
  width: 10px;
  height: 10px;
  background: rgba(60, 141, 197, 0.8);
  border-radius: 999px;
}
