.navbar-lewagon {
  justify-content: space-between;
  background: #201e1f;
  font-family: "Encode Sans Condensed", sans-serif;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-login {
  text-transform: uppercase;
  font-family: "Encode Sans Condensed", sans-serif;
  color: white;
}

.nav-login:hover {
  color: #5c01a7;
  transition: background 0.3s ease;
}
