.navbar-lewagon {
  justify-content: space-between;
  background: #201E1F;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-login {
  text-transform: uppercase;
  font-family: 'Encode Sans Condensed', sans-serif;
  color: white;
}

.nav-login:hover {
  color: #5C01A7;
  transition: background 0.3s ease;
}
