.navbar-lewagon {
  justify-content: space-between;
  background: #201E1F;
  color: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-item {
  color: white;
}
