.main-container {
  display: flex;
}


.offer-cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  flex-grow: 1;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .offer-cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .offer-cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .offer-cards {
    grid-template-columns: 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .offer-cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .offer-cards {
    grid-template-columns: 1fr 1fr;
  }
}

.offer-card-long {
  overflow: hidden;
  height: fit-content;
  background: rgb(240, 240, 240);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  height: auto;
  width: 260px;
  margin-bottom: 16px;
  padding-bottom: 16px;
  border-radius: 3px;

  .btn-flat {
    padding: 8px 90px;
  }
}

.offer-card-long > img {
  height: 250px;
  width: 250px;
  object-fit: cover;
}

.offer-card-long h2 {
  font-size: 18px;
  margin: 0;
  text-align: left;
  text-transform: uppercase;
  padding-bottom: 5px;
}

.offer-card-long h3 {
  font-size: 18px;
  margin: 0;
  text-align: left;
  padding-bottom: 5px;
}

.offer-card-long p {
  font-size: 14px;
  opacity: 0.7;
  margin: 0;
  text-align: left;
}

.offer-card-long .offer-card-long-infos {
  color: #201e1f;
  font-family: "Encode Sans Condensed", sans-serif;
  padding: 14px;
  justify-content: space-between;
  position: relative;
}

.offer-card-long-pricing {
  padding-top: 16px;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 230px;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  width: 230px;
  overflow: hidden;
}

.booking-btn {
  color: white;
  padding: 8px 70px;
  border-radius: 4px;
  background: #5C01A7;
  transition: background 0.3s ease;
}

.booking-btn:hover {
  background: #4D04C4;
  color: white;
}
