.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.card-vinyl {
  overflow: hidden;
  background: #201E1F;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-vinyl > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-vinyl h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-vinyl p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-vinyl .card-vinyl-infos {
  color: white;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}
